#nav-bar {
  background: linear-gradient(45deg, #f06, yellow);
  /*background-color: #00a087;*/
  color:            #e8fdff;
  height:           80px;
  padding:          0 2em 0 2em;
  position:         fixed;
  width:            100%;
  z-index:          10;
}

#nav-bar .logo {
  height:           80px;
  width:            80px;
  margin-right:     10px;
  float:            left;
}

#nav-bar .header {
  font-size:        2em;
  line-height:      80px;
}

