#nav-bar {
  position: fixed;
  background: linear-gradient(45deg, #f06, yellow);
  color:            #e8fdff;
  height:           80px;
  padding:          0 2em 0 2em;
  position:         fixed;
  width:            100%;
  z-index:          10;
}

@-webkit-keyframes tilt {
    0%  {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(15deg);}
    100%  {-webkit-transform: rotate(0deg);}
}

#nav-bar .logo {
  -webkit-animation: tilt 1.5s infinite linear;
  height:           70px;
  width:            70px;
  margin-right:     10px;
  margin-top:       5px;
  float:            left;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

#nav-bar .logo:hover {
  -webkit-animation: spin 200ms infinite linear;
  height:           72px;
  width:            72px;
  margin-right:     10px;
  float:            left;
}

#nav-bar .header {
  font-size:        2em;
  line-height:      80px;
}

#nav-bar .compose  {
  height:           60px;
  width:            60px;
  margin-top:       10px;
  margin-right:     30px;
  float:            right;
}

@-webkit-keyframes write {
    0%  {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(40deg);}
    100%  {-webkit-transform: rotate(0deg);}
}

#nav-bar .compose:hover {
  -webkit-animation: write 500ms linear;
  height:           65px;
  width:            65px;
  margin-top:       10px;
  margin-right:     30px;
  float:            right;
}