.new-tweet {
  border: 2px solid #0000002e;
  background-color: #ececec;
  border-radius: 6px;
  padding: 10px;
  margin: 2em;
  position: relative;
  top: 50%;
  /*transform: translateY(-50%);*/
  z-index: 3;
}

section textarea {
  padding: 5px;
  width: 100%;
}

section.new-tweet h2 {
  margin-top: 0px;
  border-bottom: 2px solid black;
}

.counter {
  float: right;
  margin-right: 7px;
  font-size: 80%;
  margin-top: 9px;
}

.errorColour {
  color: red;
}